################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication31/.vs/ConsoleApplication31/v15/Server/sqlite3
